<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hoon.foodrocket.mapper.MenuMapper">

    <!-- 메뉴 조회 -->
    <select id="getMenus" resultType="com.hoon.foodrocket.domain.Menu">
        select id, name, price, restaurant_id restaurantId
        from menu
        where restaurant_id = #{restaurantId}
    </select>

    <!-- 메뉴 변경(등록 또는 수정) -->
    <insert id="changeMenu" parameterType="java.util.List">
        insert into menu (
            id,
            name,
            price,
            restaurant_id
        )
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (
            #{item.id},
            #{item.name},
            #{item.price},
            #{item.restaurantId}
            )
        </foreach>
        on duplicate key update
        name=values(name), price=values(price)
    </insert>

    <!-- 메뉴 삭제 -->
    <delete id="deleteMenu" parameterType="java.util.List">
        delete from menu
        where id in
        <foreach item="item" index="index" collection="list" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </delete>

</mapper>