<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hoon.foodrocket.mapper.MenuMapper">

    <!-- 메뉴 조회 -->
    <select id="getMenus" resultType="com.hoon.foodrocket.domain.Menu">
        select id, name, price, restaurant_id restaurantId
        from menu
        where restaurant_id = #{restaurantId}
    </select>

    <!-- 메뉴 등록 -->
    <insert id="insertMenu" parameterType="java.util.List">
        insert into menu (
            name,
            price,
            restaurant_id
        )
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (
            #{item.name},
            #{item.price},
            #{item.restaurantId}
            )
        </foreach>
    </insert>

    <!-- 메뉴 수정 -->
    <update id="updateMenu" parameterType="java.util.List">
        <foreach item="item" index="index" collection="list" separator=";">
            update menu
            set name = #{item.name},
                price = #{item.price}
            where id = #{item.id}
        </foreach>
    </update>

    <!-- 메뉴 삭제 -->
    <delete id="deleteMenu" parameterType="java.util.List">
        <foreach item="item" index="index" collection="list" separator=";">
            delete from menu
            where id = #{item.id}
        </foreach>
    </delete>

</mapper>