<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hoon.foodrocket.mapper.UserMapper">

    <!-- 유저 조회(id) -->
    <select id="getUserWithId" parameterType="Long" resultType="com.hoon.foodrocket.domain.User">
        select email, name, password
        from user
        where id = #{id}
    </select>

    <!-- 유저 조회(email) -->
    <select id="getUserWithEmail" parameterType="String" resultType="com.hoon.foodrocket.domain.User">
        select email, name, password
        from user
        where email = #{email}
    </select>

    <!-- 회원가입 -->
    <insert id="registerUser" parameterType="com.hoon.foodrocket.domain.User">
        insert into user (
            email,
            password,
            name
        )
        values (
            #{email},
            #{password},
            #{name}
        )
    </insert>

</mapper>